html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  color: #fff;
  transition: color 0.2s;
  outline: none;
}
.bm-item:active {
  color: #09ebc5;
}

.bm-item:hover {
  color: #09ebc5;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #fff;
  position: fixed;
}

.bm-cross-button {
  height: 30px;
  width: 30px;
}

.bm-menu {
  background: #545454;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  background: 0.2;
}

.bm-morph-shape {
  fill: #545454;
}

.bm-item-list {
  color: #fff;
}

/* .bm-overlay {
  background: rgba(0, 0, 0, 0.3);
} */
